<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marmelad:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" href="https://catherineasquithgallery.com/uploads/posts/2021-03/1614563370_11-p-kofe-na-belom-fone-12.jpg">
</head>
<body>

<nav style="background-color: rgb(77,13,0)" class="navbar navbar-light navbar-expand-lg fixed-top clean-navbar">
    <div class="container">
        <a class="navbar-brand link-light logo" href="#">Kirilloff Coffee</a>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link link-light" th:href="@{/admin}">Админ-панель</a></li>
                <li class="nav-item"><a class="nav-link link-light" href="/product">Продукция</a></li>
                <li class="nav-item">
                    <form method="post" th:action="@{/logout}">
                        <input  style="border: 0px; background-color: rgb(77,13,0)" class="nav-link link-light" type="submit" value="Выйти из личного кабинета">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="col-md-12 col-lg-12">
    <div class="clean-pricing-item">
        <div class="container">
            <div class="block-heading">
                <br>
                <br>
                <br><br>
                <h4 style="text-align: center">Добавление товара</h4>
                <br>
            </div>
            <div class="row">
                <div class="col-md">
<form  style="text-align: center" th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
    <label for="title">Введите наименование товара: </label>
    <input class="form-control" type="text" th:field="*{title}" placeholder="Наименование" id="title">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br>
    <br>
    <label for="description">Введите описание товара: </label>
    <textarea  class="form-control" th:field="*{description}" placeholder="Описание" id="description"></textarea>
        <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br>
    <br>
    <label for="price">Введите цену товара: </label>
    <input class="form-control" type="number" th:field="*{price}" min="1" step="0.00" id="price">
        <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    <br>
    <br>
    <label for="warehouse">Введите склад: </label>
    <input class="form-control" type="text" th:field="*{warehouse}" placeholder="Склад" id="warehouse">
        <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
    <br>
    <br>
    <label for="seller">Введите данные о продавце: </label>
    <textarea class="form-control" th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
        <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
    <br>

    <label for="category">Выберите категорию товара: </label>
    <select class="form-control" name="category" th:field="*{category}" id="category">
        <div th:each="element : ${category}">
            <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
        </div>
    </select>
    <br>
    <p style="color: red">Вы можете добавить до 5 фотографий. Первая фотография не может быть пустой т.к она будет являться главной</p>
    <div style="font-size: 14px">
    <input type="file" name="file_one">
    <input type="file" name="file_two">
    <input type="file" name="file_three">
    <input type="file" name="file_four">
    <input type="file" name="file_five">
    </div>
    <div>
        <br>
        <input class="btn btn-outline-primary d-block w-100" role="button" type="submit" value="Добавить">
    </div>

</form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="text-center py-4">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
                <p class="text-muted my-2">Kirilloff Coffee © 2022</p>
            </div>
        </div>
    </div>
</footer>
<script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>